/* ---------- Section Wrapper ---------- */
.intl-section {
  padding: 3rem 1rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 80%;      /* limit width on desktop */
  margin: 0 auto;   
}

.intl-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.intl-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

/* ---------- Desktop Grid ---------- */
.intl-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* ---------- Hide Scroll Layout on Desktop ---------- */
.intl-scroll {
  display: none;
}



/* ---------- Mobile Layout ---------- */
@media (max-width: 768px) {
  .intl-grid {
    display: none;
  }

  .intl-section {
    padding: 3rem 0;
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 100%;      /* limit width on desktop */
    margin: 0 auto;   
  }

  .intl-scroll {
    display: flex;
    overflow-x: auto;
    gap: 0rem;
    padding: 1rem 0;
    scroll-behavior: smooth;
    width: 100%;        /* full width of screen */
    max-width: 100%;    /* ensures no fixed width */
    max-height: 700px;
    padding-right: 25px;
  }

  .intl-scroll::-webkit-scrollbar {
    display: none; /* hide scrollbar */
  }

  .intl-card {
    flex: 0 0 85%; /* show 1 full + next part visible */
    text-decoration: none;
    border-radius: 20px;
    margin-left: 25px;
    max-width:300px;
  }
}



.intl-link {
  text-decoration: none; /* remove underline */
  color: inherit;        /* inherit text color */
  display: block;        /* make entire card clickable */
}