@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

.hero-admin-page {
  padding: 40px 30px;
  max-width: 1150px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  color: #111;
  background-color: #fafafa;
  min-height: 100vh;
}

.hero-admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.hero-admin-header h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

.addd-btn {
  background: #333333;
  color: #ffffff;
  border: none;
  border-radius: 999px;
  padding: 10px 26px;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.addd-btn:hover {
  background: #000000;
  transform: translateY(-1px);
}

.hero-list .empty {
  text-align: center;
  color: #777;
  margin-top: 60px;
  font-size: 1.05rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}

.hero-card {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  padding: 10px;
}

.hero-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
}

.hero-img-container {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 0px;
}

.hero-img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}


.hero-card-text {
  text-align: left;
}

.hero-card-text h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #111;
}

.hero-card-text p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
  margin-bottom: 12px;
}
